{% extends 'userhome.html' %}
{% load crispy_forms_tags%}
{% block cont %}
{% load static  %}
<div class=" mt-5">
    <form action="{% url 'post_create_view'%}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
       Post {{ form.post }}
       <input type="file"id="file_input" value={{ form.img }}  

        <input type="submit" id="btnsubmit" value="Post"  class="button btn btn-outline-primary mt-5 ms-2 ">
      
    </form>

    
</div>
<script src="{% static 'disable.js' %}"></script>
{% endblock cont %}
