{% load static  %}
{% load i18n %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitters</title>
    <style>
      .mycontent-left {
  border-right: 1px dashed #333;
}



    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>

<body>
    
   
        <div class="row">
          {% block start %}
         
                   
<div class=" col-md-2 ms-5 ">
  <div class=" position-fixed">
<div class="mt-3 text-center">
            <img src="{%static 'download.jpeg'%}" alt="" class="img-fluid float-center">
          </div>

<div class="text-center fs-3 ">
  
            <p> <span><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-house-heart-fill " viewBox="0 0 16 16">
                <path d="M7.293 1.5a1 1 0 0 1 1.414 0L11 3.793V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v3.293l2.354 2.353a.5.5 0 0 1-.708.707L8 2.207 1.354 8.853a.5.5 0 1 1-.708-.707L7.293 1.5Z"/>
                <path d="m14 9.293-6-6-6 6V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9.293Zm-6-.811c1.664-1.673 5.825 1.254 0 5.018-5.825-3.764-1.664-6.691 0-5.018Z"/>
              </svg></span><a href="{% url 'userhome' %}" class="ms-1 mt-2 fs-4  fw-normal text-dark text-decoration-none">{% trans "Home" %}</a> </p>
          </div>

          <div class="text-center fs-3">
            <p> <span><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-hash" viewBox="0 0 16 16">
                <path d="M8.39 12.648a1.32 1.32 0 0 0-.015.18c0 .305.21.508.5.508.266 0 .492-.172.555-.477l.554-2.703h1.204c.421 0 .617-.234.617-.547 0-.312-.188-.53-.617-.53h-.985l.516-2.524h1.265c.43 0 .618-.227.618-.547 0-.313-.188-.524-.618-.524h-1.046l.476-2.304a1.06 1.06 0 0 0 .016-.164.51.51 0 0 0-.516-.516.54.54 0 0 0-.539.43l-.523 2.554H7.617l.477-2.304c.008-.04.015-.118.015-.164a.512.512 0 0 0-.523-.516.539.539 0 0 0-.531.43L6.53 5.484H5.414c-.43 0-.617.22-.617.532 0 .312.187.539.617.539h.906l-.515 2.523H4.609c-.421 0-.609.219-.609.531 0 .313.188.547.61.547h.976l-.516 2.492c-.008.04-.015.125-.015.18 0 .305.21.508.5.508.265 0 .492-.172.554-.477l.555-2.703h2.242l-.515 2.492zm-1-6.109h2.266l-.515 2.563H6.859l.532-2.563z"/>
              </svg></span><a href="#" class="ms-1 mt-2  fs-4 fw-normal text-dark text-decoration-none">{% trans "Explore" %}</a> </p>
          </div>

          <div class="text-center fs-3">
            <p> <span><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-bell" viewBox="0 0 16 16">
                <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
              </svg><a href="#" class="ms-1 mt-2 fw-normal fs-4  text-dark text-decoration-none">{% trans "Notification" %}</a> </p>
          </div>

          <div class="text-center fs-3">
            <p> <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
              </svg></span><a href="#" class="ms-1 mt-2 fs-4  fw-normal text-dark text-decoration-none">{% trans "Messages" %}</a> </p>
          </div>

          <div class="text-center fs-3">
            <p> <span><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-house-heart-fill" viewBox="0 0 16 16">
                <path d="M7.293 1.5a1 1 0 0 1 1.414 0L11 3.793V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v3.293l2.354 2.353a.5.5 0 0 1-.708.707L8 2.207 1.354 8.853a.5.5 0 1 1-.708-.707L7.293 1.5Z"/>
                <path d="m14 9.293-6-6-6 6V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9.293Zm-6-.811c1.664-1.673 5.825 1.254 0 5.018-5.825-3.764-1.664-6.691 0-5.018Z"/>
              </svg></span><a href="#" class="ms-1 mt-2 fs-4  fw-normal text-dark text-decoration-none">{% trans "Bookmarks" %}</a> </p>
          </div>


          <div class="text-center fs-3">
            <p> <span><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-twitch" viewBox="0 0 16 16">
                <path d="M3.857 0 1 2.857v10.286h3.429V16l2.857-2.857H9.57L14.714 8V0H3.857zm9.714 7.429-2.285 2.285H9l-2 2v-2H4.429V1.143h9.142v6.286z"/>
                <path d="M11.857 3.143h-1.143V6.57h1.143V3.143zm-3.143 0H7.571V6.57h1.143V3.143z"/>
              </svg></span><a href="#" class="ms-1 mt-2 fs-4  fw-normal text-dark text-decoration-none">{% trans "Twitter Blue" %}</a> </p>
          </div>

          <div class="text-center fs-3">
            <p> <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>

              </svg></span><a href="{% url 'userprofile' user.id%}" class="ms-1 mt-2 fw-normal text-dark fs-4  text-decoration-none">{% trans "Profile" %}</a> </p>
      
          </div>
       
          {{ LANGUAGE_CODE }}
         
          <div class="dropdown text-center ">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
             Select Language
            </button>
            <ul class="dropdown-menu">
              {% get_current_language as LANGUAGE_CODE %}
              {% get_available_languages as LANGUAGES %}
              {% get_language_info_list for LANGUAGES as languages %}

              {% for lang in languages  %}
              <li> 
                <a class="dropdown-item" href="/{{ lang.code }}"> 
                  {{ lang.name_local }}
              </a> 
            </li>
              {% endfor %}
              
            
             
            </ul>
          </div>


          <div class="mt-3 text-center ">
            <a href="{% url 'usertweet' %}" class=" text-decoration-none fs-3  btn btn-info btn-lg rounded  ps-2 pe-2  text-light" >{%  trans 'Tweet' %}</a>
          </div>
         <div class="my-5 text-center">
           
           <p class="text-center fs-3"><img src="{{ user.img.url }}" class="img-fluid rounded-pill me-3" style="height: 75px; width: 75px;" alt="">{{user.username}}</p>
           <p class="text-center fs-3 text-muted">{{user.email}}</p>
           <a href="{% url 'logout_user' %}" class="btn btn-outline-danger ">{% trans 'Logout' %}</a>
           
         </div>
    
          </div>
        </div>
          {%  endblock start%}
          
  
<div class="col-md-4  ">
  {% block cont %}

  

  <div class="text-start mt-3  ">
   <p class="fs-3 fw-bolder ">{% trans 'Home' %}</p>
  </div>
  <div class="row ">
   <div class="col-md-6 text-center">
     <div class="text-start">
       
       <a href="#" class="fs-6 fw-bolder text-decoration-none text-dark">{% trans 'ForYou' %}</a>
     </div>
   </div>
   <div class=" col-md-6  text-center">
       <div class="text-start">
           <a href="#" class="fs-6 fw-bolder text-decoration-none text-dark">{% trans 'Following' %}</a>
         
          </div>
         
   </div>
  </div>
  <hr>
  <div class="mt-3">
   
    </div>
   
   

  {% for t in tweet_show reversed %}
{% if t.post or t.img %}
  <div class="card shadow p-3 mb-5 bg-body-tertiary rounded">
    <div class="card-body">
      
      {% if t.user in current_user_remove %}
        {% if user not in t.retweet.all %}
        <h3></h3>
        {% else %}
        <h3>You Retweeted </h3>
        {% endif %}
        {% endif %}
   
      {{user.id}}
        <p class="fw-bolder"><img src="{{ t.user.img.url }}" alt="" style="height: 50px; width: 50px;" class="img-fluid rounded-pill"> {{ t.user }}</p>
        <p class="text-muted">{{t.created_by}}</p>
        {% if t.post %}
      <h3>{{ t.post }}</h3>
     
      {% endif %} 

      {% if t.img %}

      <img src="{{ t.img.url }}" class="img-fluid" style="height: 200px; width: 350px;" alt="">

      {% endif %}
{{t.id}}

 {% if user not in t.liked.all %}

          <div id="form" class="my-3" >


            <input type="hidden" id='user_id'   value="{{ user.id }}">

          <input type="submit"  class="btn btn-outline-primary mt-3" value="{% trans "Like" %}" onclick="Like(`{{ t.id }}`)"></input>
</div>
            {% else %}


<div id="forms" class="my-3" >

     <input type="hidden" id='user_id1'  value="{{ user.id }}">

           <input type="submit"  class="btn btn-outline-danger mt-3" value="{% trans "Unlike" %}" onclick="Like(`{{ t.id }}`)"></input>
</div>
              

<!--            <button type="submit"   class="btn btn-outline-danger mt-3" >{% trans "UnLike" %} </button>-->


        {% endif %}
        {% if t.user in current_user_remove %}
        {% if user not in t.retweet.all %}

        <form action="{% url 'user_retweet' %}" method="POST">
          {% csrf_token %}

          <input type="hidden" name="retweet_id"   value="{{ t.id }}">
          <button class="btn btn-outline-info "> {% trans "Re" %}{% trans "Tweet" %}</button>
        </form>
        {% else %}
        <form action="{% url 'user_retweet' %}" method="POST">
          {% csrf_token %}
          <input type="hidden" name="retweet_id"   value="{{ t.id }}">
          <button class="btn btn-outline-danger ">{% trans "Remove" %}{% trans "Re" %}{% trans "Tweet" %}</button>
        </form>
        {% endif %}
        {% else %}
        <button class="btn btn-outline-info disabled"> {% trans "Re" %}{% trans "Tweet" %}</button>
       <div class="mt-3">
        <form action="{% url 'Delete_post' %}" method="POST">
          {% csrf_token %}
<input type="hidden" name="post_id" value="{{ t.id }}">
<button class="btn btn-outline-danger "id="btndelete" onclick="return ConfirmDelete()">DeletePost</button>
        </form>
      </div>
        {% endif %}
        <hr>
        <strong>{{t.count_like}}  {% trans "Likes" %}</strong>
        <br>
        <strong>{{ t.count_retweet }} {% trans "Re" %}{% trans "Tweet" %}</strong>
    </div>
  </div>
  {% endif %}

  {% endfor %}
  {% endblock cont %}
  
</div>





          {% block body%} 
          <div class="col-md-4  ms-5 mt-3  ">
            
            <div class="position-fixed">
              
            <div class="mt-3 col-md-8 ">

                                    </div>
                <div>
                {% for data in get_user_info %}
                    {{ data }}
                    {% endfor %}
                    </div>
                <div class="mt-5 col-md-8">
                    <div class="card rounded-pill bg-light">
                        <div class="card-title text-center mt-2 pt-3 ">
                         
                            <p>{% trans 'What`s happening' %}</p>
                        </div>
                    </div>
                </div>
                <div class="card mt-5 text-center rounded bg-light col-md-10 ">
                <p class="pt-3">{% trans 'Who to follow' %}</p>
                {% for c in current_user_remove %}
                
                <div class="fs-3">
                  
                  <p class="ms-2"><img src="{{ c.img.url }}" class="img-fluid ms-2 me-2 rounded-pill " style="height: 50px; width: 50px;" alt=""><a href="{% url 'userprofile' c.id %}" class="text-decoration-none text-black fs-2  ms-3"  title="click to see Profile">{{c.username}}</a></p> 
                  <br> 
                </div>
                
                
                {% endfor %}
                </div>
                <div class="mt-5">
                <p>
                        
                    <a href="#" style="text-decoration: none;" class="text-dark text-muted">{% trans 'Terms of Service' %}</a>
                   
                    <a href="#" style="text-decoration: none;" class="text-dark ms-2 text-muted">{% trans "Privacy Policy" %}</a>
                    
                    <a href="#" style="text-decoration: none;" class="text-dark ms-2 text-muted">{% trans "Cookie Policy" %}</a>
                    
                    <a href="#" style="text-decoration: none;" class="text-dark text-muted">{% trans "Accessibility" %}</a>
                   
                    <a href="#" style="text-decoration: none;" class="text-dark ms-2 text-muted">{% trans "Ads info More" %}</a><br>
                        <a href="#" style="text-decoration: none;" class="text-dark  text-muted"> {% trans " © 2023 Twitter, Inc. " %}</a>
                   </p>
                </div>
            </div>
          </div>
          </div>
        <script src="{%static 'Like.js' %}">

        </script>

          <script src="  {% static 'confirmdelete.js' %}">

          </script>

          {% endblock body %}

        </div>   
      </div>
    </div>
       

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

  </body>
</html>