{% extends 'userhome.html' %}
{% load crispy_forms_tags%}
{% block cont %}
{% load static  %}
<div class=" mt-5">
    <form action="{% url 'post_create_view'%}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="text-start mt-2">
            Post {{ form.post }}
        </div>
       
       <div class="text-start mt-2">
        <input type="file"id="file_input" value={{ form.img }}  
       </div>
       

       <div class="text-start mt-3">
        <input disabled type="submit" id="btnsubmit" value="Post"  class=" btn btn-primary mt-5 ms-2 ">
       </div>
        
      
    </form>

    
</div>
<script src="{% static 'disable.js' %}"></script>
{% endblock cont %}
